<div class="row mt-3">
    <div *ngIf="isLoading; else userList" class="col-sm-10 offset-sm-1 col12 mt-5 text-center">
      Loading users...
    </div>

    <ng-template #userList>
      <div class="col-sm-10 offset-sm-1 col-12 mt-5">
        <form [formGroup]="filterForm">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group mb-3">
                <span class="input-group-text">From Date</span>
                <input type="date" class="form-control" formControlName="dateFrom"  aria-label="fromDate">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3">
                <span class="input-group-text">To Date</span>
                <input type="date" class="form-control" formControlName="dateTo" aria-label="To Date">
              </div>

            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="filterUsers()">Filter</button>
            </div>
          </div>
        </form>

        <div class="card">
          <p-table
            [value]="users"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >

            <ng-template pTemplate="header">
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Date of birth</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.dateOfBirth | date }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-template>
</div>
